<div class="col-md-6 offset-md-3">
        <form action=""[formGroup]='registrationForm'(ngSubmit)='printForm()'>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name" class="form-control" formControlName='name'>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" name="email" id="email" class="form-control" formControlName='email'>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password" class="form-control" formControlName='password'>
                </div>
                <button class="btn-primary"(click)='addSkill()' type="button">Add Skill</button>
                <div formArrayName='skills'*ngFor='let control of registrationForm.get("skills").controls;index as i'>
                    <div [formGroupName]='i'>
                        <div class="form-group">
                            <label for="{{'skill'+(i+1)}}">Skill{{i+1}}</label>
                            <input type="text" name="skills"id="{{'skill'+1}}"[formControlName]='skill' class="form-control">
                            <input type="radio" formControlName="rating" value="beginner" id="{{'rating'+i}}">Beginner
                            <input type="radio" formControlName="rating" value="intermediate" id="{{'rating'+i+1}}">Intermediate
                            <input type="radio" formControlName="rating" value="export" id="{{'rating'+i+2}}">Export
                            <button (click)='removeSkill(i)' type="button" class="btn btn-danger">&times;</button>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-outline-primary float-right">Submit</button>
            </form>
</div>
