<div class="col-md-4 offset-md-4">
        <select name="categories" id="categories" class="form-control ng-valid ng-pristine ng-touched" (change)="getCategories($event)">
            <option value="general">General</option>
            <option value="entertainment">Entertainment</option>
            <option value="business">Business</option>     
            <option value="health">Health</option>     
            <option value="science">Science</option>           
            <option value="sports">Sports</option>  
            <option value="technology">Technology</option>         
        </select>
    </div>
    <div class="col-md-3 float-left card card-body" *ngFor="let new of news"style="height :400px">
        <a href="{{new.url}}">
            <img src="{{new.urlToImage}}" alt=""style="height :300px" >
        </a>
        <h6>{{new.title}}</h6>
    </div>
    