<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container mt-4">
        <table class="table table-bordered table-hover">
            <thead style="color: blue;">
                <tr>
                    <th>Index</th>
                    <th>User ID</th>
                    <th>User Name</th>
                    <th>User Type</th>
                    <th>User Email</th>
                    <th>User Password</th>
                    <th>User Gender</th>
                    <th>User MobileNo</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let res of users; index as i'>
                    <td>{{i+1}}</td>
                    <td>{{res.userId}}</td>
                    <td>{{res.userName}}</td>
                    <td>{{res.userType}}</td>
                    <td>{{res.userEmail}}</td>
                    <td>{{res.userPassword}}</td>
                    <td>{{res.userGender}}</td>
                    <td>{{res.userMobileNo}}</td>
                </tr>
            </tbody>
        </table>
        <div>
            <button type="button" class="btn btn-primary float-right" routerLink="/admin">
                Go Back
            </button>
        </div>
    </div>
</body>

</html>