<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">IMDB</a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="newmovies">Movies<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="#">AddMovie</a>
            </li>  
        </ul>
        <ul class="navbar-nav mt-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" routerLink="#">Login</a>
            </li> 
        </ul>

    </div>
</nav>