
<nav class="navbar navbar-expand-sm navbar-light bg-primary">
  <a class="navbar-brand" routerLink="/tech-elevate">Tech Elevate</a>
  
  <div class="collapse navbar-collapse" id="collapsibleNavId">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/cars">Cars <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/bikes">Bikes <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/movies">Movies <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" routerLink="/laptops">Laptops <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/mobiles">Mobiles <span class="sr-only">(current)</span></a>
              </li>
    </ul>
   
  </div>
</nav>




