<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/">Home 
                <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" routerLink="/about">About 
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/help">Help 
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active" id="l1">
                    <a class="nav-link" routerLink="/login">Login 
                      <span class="sr-only">(current)</span></a>
                  </li>
                    <li class="nav-item active" id="l1">
                      <a class="nav-link" routerLink="/property-binding">Property Binding
                        <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item active" id="l1">
                      <a class="nav-link" routerLink="/event-binding">Event Binding
                        </a>
                    </li>
                    <li class="nav-item active" id="l1">
                      <a class="nav-link" routerLink="/two-way">Two way Binding
                        </a>
                    </li>
                    <li class="nav-item active" id="l1">
                        <a class="nav-link" routerLink="/ng-for">Ng-For
                          </a>
                      </li>
                      <li class="nav-item active" id="l1">
                          <a class="nav-link" routerLink="/ng-switch">Ng-Switch
                            </a>
                      </li>
                        <li class="nav-item active" id="l1">
                            <a class="nav-link" routerLink="/reactive-form">Reactive Form
                              </a>
                        </li>
                        <li class="nav-item active" id="l1">
                          <a class="nav-link" routerLink="/parent">Parent</a>
                        </li>
                        <li class="nav-item active" id="l1">
                            <a class="nav-link" routerLink="/comment-details">Comment-details</a>
                          </li>
          </ul>
          <ul class="navbar-nav mt-auto">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/ng-if">Login 
                <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active" id="l2">
                <a class="nav-link" routerLink="/register">Register 
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active" id="l2">
                <a class="nav-link" routerLink="/form-1">Form1 
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active" id="l2">
                <a class="nav-link" routerLink="/form-2">Form2 
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active" id="l2">
                <a class="nav-link" routerLink="/form-3">Form3 
                  <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active" id="l2">
                <a class="nav-link" routerLink="/form-4">Form4 
                  <span class="sr-only">(current)</span></a>
              </li>
            </ul>
        </div>
</nav>

