<div class="col-md-4 offset-md-4">
        <select name="sources" id="sources" class="form-control ng-valid ng-pristine ng-touched" (change)="getSource($event)">
                <option  value="the-times-of-india">Times of India</option>
                <option  value="fox-news">Fox News</option>                    
                <option  value="espn">ESPN</option>
                <option  value="news24">News24</option>       
                <option  value="the-hindu">The Hindu</option>
                <option  value="usa-today">USA Today</option>     
                <option  value="national-geographic">National Geographic</option>   
                <option value="mirror">Mirror</option>            
            </select>
    </div>
    <div class="col-md-3 float-left card card-body" *ngFor="let new of news"style="height :400px">
        <a href="{{new.url}}">
            <img src="{{new.urlToImage}}" alt=""style="height :300px" >
        </a>
        <h6>{{new.title}}</h6>
    </div>
    