<form action="" class="card card-body col-md-4 offset-4  mt-5" #form = "ngForm" (ngSubmit) = "formData(form)">
    <h1 class="text-center bg-primary text-white">Form-2</h1>
    <div class="form-group">
        <input type="text" name="candidateName" id="candidateName" required class="form-control " placeholder="Candidate Name" #candidateName = "ngModel" ngModel>      
        <div *ngIf="candidateName.touched && candidateName.invalid">
            <p *ngIf="candidateName.errors.required" class="alert alert-danger">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <input type="number" name="yearofPassing" id="yearofPassing" ng-minlength=4 required class="form-control" 
        placeholder="Year Of Passing" #yearofPassing = "ngModel" ngModel>
        <div *ngIf="yearofPassing.touched && yearofPassing.invalid">
            <p *ngIf="yearofPassing.errors.required" class="alert alert-danger">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
       <label for="Skills" required >Skills</label><br>
       <input type="radio" name="java" id="java">Java
       <input type="radio" name="angular" id="angular">Angular
       <input type="radio" name="SQL" id="SQL">SQL
       <input type="radio" name="Spring" id="Spring">Spring
    </div>
    
    <div class="form-group">
        <input type="text" name="cctc" id="cctc" required class="form-control " placeholder="C C T C" #cctc = "ngModel" ngModel>
        <div *ngIf="cctc.touched && cctc.invalid">
            <p *ngIf="cctc.errors.required" class="alert alert-danger">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="ectc" id="ectc" required class="form-control" placeholder="E C T C" #ectc = "ngModel" ngModel>
        <div *ngIf="ectc.touched && ectc.invalid">
            <p *ngIf="ectc.errors.required" class="alert alert-danger">*This field is required</p>
        </div>
    </div>
    <div class="form-group">
        <input type="text" name="relocate" id="relocate" required class="form-control" placeholder="Ready to Relocate" #relocate = "ngModel" ngModel>
        <div *ngIf="relocate.touched && relocate.invalid">
            <p *ngIf="relocate.errors.required" class="alert alert-danger">*This field is required</p>
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-success float-right"[disabled]="form.invalid">Schedule Interview</button>
    </div>
</form>

